.section {
   padding-top: 60px;
   padding-bottom: 60px;
   @include desktop {
      padding-top: 94px;
      padding-bottom: 94px;
   }

   &__title {
      color: var(--secondary-text-color);

      @include font(null, 28px, 1.18, null);
      text-align: center;

      @include desktop{
         font-size: 36px;
         line-height: 1.17;
      }
   }
}
