.section {
   padding-top: 60px;
   padding-bottom: 60px;
   @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
   }

   &__title {
      color: var(--secondary-text-color);

      @include font(null, 36px, 1.17, null);
      text-align: center;
   }
}
