body {
  font-family: 'Roboto', sans-serif;
  @include font(null, 14px, null, 0.03em);

  color: var(--primary-text-color);
  background-color: var(--white-color);

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.no-scroll {
    overflow: hidden;
  }
}

.content {
  flex-grow: 1;
}
