body {
  font-family: 'Roboto', sans-serif;
  @include font(null, 14px, null, 0.03em);

  color: var(--primary-text-color);
  background-color: var(--white-color);

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.no-scroll {
    overflow: hidden;
  }
}

.content {
  flex-grow: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-text-color);
}
