.current {
   position: relative;
   color: var(--accent-text-color);
   &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;

      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-text-color);
   }
}
