:root {
   --primary-text-color: #757575;
   --secondary-text-color: #212121;
   --logo-text-color: #000000;
   --accent-text-color: #2196f3;
   --white-color: #ffffff;
   --primary-background-color: #2f303a;
   --secondary-background-color: #f5f4fa;
   --address-link-color: rgba(255, 255, 255, 0.6);
   --border-line-color: #ececec;
   --border-item-color: #eeeeee;
   --bg-color: #c4c4c4;
   --icon-color: #afb1b8;
}

//  :root {
//    $primary-text-color: #757575;
//    $secondary-text-color: #212121;
//    $logo-text-color: #000000;
//    $accent-text-color: #2196f3;
//    $white-color: #ffffff;
//    $primary-background-color: #2f303a;
//    $secondary-background-color: #f5f4fa;
//    $address-link-color: rgba(255, 255, 255, 0.6);
//    $border-line-color: #ececec;
//    $border-item-color: #eeeeee;
//    $bg-color: #c4c4c4;
//    $icon-color: #afb1b8;
//  }
