.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2000;

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (orientation: landscape) {
    overflow: auto;
  }

  &__modal {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    background-color: var(--white-color);

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 479px) {
      width: 100%;
      height: 100%;
    }

    @include mobile {
      min-height: 609px;
      min-width: 450px;
    }

    @include desktop {
      min-height: 581px;
      min-width: 528px;
    }
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &__btn {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 32px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    @include flex(flex, center, center);
    position: absolute;
    top: 8px;
    right: 8px;

    background-color: transparent;
    cursor: pointer;

    color: var(--logo-text-color);
  }

  &__btn:hover,
  &__btn :focus {
    color: var(--accent-text-color);
  }

  &__icon {
    fill: currentColor;
  }

  &__title {
    margin-bottom: 12px;

    @include font(700, 20px, 1.5, 0.03em);
    text-align: center;

    color: var(--secondary-text-color);

    @include desktop {
      line-height: 1.15;
    }
  }

  &__text {
    line-height: 1.71;
    padding-right: 20px;
  }
}

.backdrop__modal {
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.contract-modal-wrapper {
  padding: 40px 10px 40px 40px;
}

.contract-modal-inner {
  height: 560px;
  overflow: auto;
  scrollbar-color: red green;
}

.contract-modal-inner::-webkit-scrollbar {
  width: 10px;
  background-color: var(--accent-text-color);
  border-radius: 4px;
}
