.page-header {
   border-bottom: 1px solid var(--border-line-color);

   &__wrapper {
      display: flex;
   }

   &__nav-wrap {
      display: none;

      @media screen and (min-width: 768px) {
         flex-grow: 1;
         display: flex;
         justify-content: space-between;
      }
   }

   &__nav {
      margin-right: auto;
   }

   &__logo {
      margin-right: 93px;

      color: var(--logo-text-color);
      align-self: center;
   }
}
