.filter-form {
   &__item:not(:last-child) {
      margin-right: 8px;
   }

   &__label {
      display: block;
      border: none;
      border-radius: 4px;
      padding: 6px 22px;
      box-shadow: none;
      cursor: pointer;

      @include font(500, 16px, 1.625, 0.03em);
      text-align: center;

      color: var(--secondary-text-color);
      background-color: var(--secondary-background-color);

      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   &__input:focus + &__label,
   &__input:checked + &__label {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

      color: var(--white-color);
      background-color: var(--accent-text-color);
   }
}
