.sign-up {
   &__title {
      margin-bottom: 20px;

      @include font(700, null, 1.14, 0.03em);
      text-transform: uppercase;

      color: var(--white-color);
   }

   &__form {
      @media screen and (min-width: 1200px) {
         display: flex;
         gap: 12px;
      }
   }

   &__input {
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

      height: 50px;
      padding: 15px 16px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      outline: transparent;

      @include font(null, 16px, 1.25, 0.03em);

      color: rgba(255, 255, 255, 0.6);
      background-color: transparent;

      @media screen and (max-width: 767px) {
         width: 100%;
      }

      @media screen and (max-width: 1199px) {
         margin-bottom: 20px;
      }

      @media screen and (min-width: 768px) {
         width: 450px;
      }

      @media screen and (min-width: 1200px) {
         width: 358px;
      }
   }

   &__input:hover,
   &__input:focus {
      border: 1px solid var(--accent-text-color);
   }

   &__input::placeholder {
      @include font(null, 16px, 1.25, 0.03em);

      color: rgba(255, 255, 255, 0.6);
   }

   &__btn {
      // styles
      margin-right: auto;
      margin-left: auto;

      width: 200px;
      height: 50px;
      @include flex(flex, center, center);
   }

   &__text {
      margin-right: 10px;
   }

   &__icon {
      fill: currentColor;
   }
}
