.social-network {
   display: flex;
   gap: 10px;

   &__item {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      overflow: hidden;
   }

   &__link {
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      @include flex(flex, center, center);
      width: 100%;
      height: 100%;

      color: var(--icon-color);
      background-color: var(--white-color);
   }

   &__link:hover,
   &__link:focus {
      color: var(--white-color);
      background-color: var(--accent-text-color);
   }

   &__footer-link {
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      color: var(--white-color);
      background-color: rgba(255, 255, 255, 0.1);
   }

   &__footer-link:hover,
   &__footer-link:focus {
      background-color: var(--accent-text-color);
   }

   &__icon {
      fill: currentColor;
   }
}
