.working {
   @media screen and (max-width: 1199px) {
      display: none;
   }

   padding-top: 0;

   &__title {
      margin-bottom: 50px;
   }

   &__list {
      @include flex(flex, space-between, null);
   }

   &__img {
      display: block;
   }

   &__item {
      position: relative;
   }

   &__subtitle {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;

      padding-top: 27px;
      padding-bottom: 27px;
      background: rgba(47, 48, 58, 0.8);

      @include font(null, 14px, 1.14, 0.03em);
      text-align: center;
      text-transform: uppercase;

      color: var(--white-color);
   }
}
